<div class="board-detail-container">
  <button (click)="addNewList()">+ Add New List</button>

  <div class="list-container" cdkDropListGroup>
    <div
      class="list-card"
      *ngFor="let list of lists"
      cdkDropList
      [cdkDropListData]="list.cards"
      (cdkDropListDropped)="onCardDrop($event, list)"
    >
      <h2>{{ list.title }}</h2>

      <div class="card-list">
        <div class="card-item" *ngFor="let card of list.cards" cdkDrag>
          {{ card.title }}
        </div>
      </div>

      <button (click)="addNewCard(list.id)">+ Add New Card</button>
    </div>
  </div>
</div>
